<div class="page-wrapper">
  <div class="container">
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <mat-card *ngFor="let user of users" class="user-card">
          <mat-card-header>
            <div mat-card-avatar [style.backgroundImage]="'url(' + user.picture + ')'" class="user-image"></div>
            <mat-card-subtitle>{{ user.title }}</mat-card-subtitle>
            <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <a mat-button [routerLink]="['/user/', user.id, 'view']" title="See User Details">See Details</a>
            <a mat-button [routerLink]="['/user/', user.id, 'edit']" title="Edit User">Edit</a>
            <button mat-button (click)="deleteUser(user.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
</div>
