<div class="page-wrapper">
  <div class="container">
    <a mat-button routerLink="/" title="Go back to Users list">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Back
    </a>

    <h1 class="page-title">Update User: <span *ngIf="user?.firstName">{{ user.firstName }}</span></h1>
    <h2 *ngIf="user?.email" class="!-mt-4 !mb-5 !text-sm">{{ user.email }}</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <mat-select formControlName="title" [(ngModel)]="user.title">
            <mat-option value="mr">mr</mat-option>
            <mat-option value="ms">ms</mat-option>
            <mat-option value="mrs">mrs</mat-option>
            <mat-option value="miss">miss</mat-option>
            <mat-option value="dr">dr</mat-option>
            <mat-option value=""></mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" [(ngModel)]="user.firstName">
          <mat-error *ngIf="f['firstName'].errors && f['firstName'].errors['required']">First Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" [(ngModel)]="user.lastName">
          <mat-error *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Last Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" [(ngModel)]="user.gender">
            <mat-option value="male">male</mat-option>
            <mat-option value="female">female</mat-option>
            <mat-option value="other">other</mat-option>
            <mat-option value=""></mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date of birth</mat-label>
          <input
            matInput [matDatepicker]="picker"
            formControlName="dateOfBirth"
            [(ngModel)]="user.dateOfBirth"
          >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" [(ngModel)]="user.phone">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Picture(url)</mat-label>
          <input matInput formControlName="picture" [(ngModel)]="user.picture">
        </mat-form-field>

      </div>
      <div formGroupName="location" class="w-full grid grid-cols-1 md:grid-cols-3 gap-4">
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput formControlName="street" [(ngModel)]="user.location.street">
        </mat-form-field>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput formControlName="city" [(ngModel)]="user.location.city">
        </mat-form-field>

        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput formControlName="state" [(ngModel)]="user.location.state">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput formControlName="country" [(ngModel)]="user.location.country">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Timezone</mat-label>
          <input matInput formControlName="timezone" [(ngModel)]="user.location.timezone">
        </mat-form-field>
      </div>

      <div class="w-full mt-4 text-right">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
