/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.page-wrapper {
  box-sizing: border-box;
  padding: 24px 16px;
  min-height: calc(100vh - 64px);
}
